/_docs/**                 linguist-generated=true linguist-documentation=true
/web/js/**         linguist-generated=true
/web/style.css     linguist-generated=true
/web/style.css.map linguist-generated=true
/web/src/lib/**    linguist-generated=true linguist-vendored=true
/web/fontello/**   linguist-generated=true linguist-vendored=true
