/* Style Reset */
button
{
	border: none;
	padding: 0;
	margin: 0;
	text-align: left;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

/* Styles */

html
{
	font-size: 12px;
}

body
{
	margin: 0;
	background-color: #222;
	color: #fff;
	font-family: system-ui, sans-serif;
	line-height: 1.25;
}

.nodeEditor .nodesBox
{
	display: grid;
	overflow: hidden;
	background:
		repeating-linear-gradient(#fff1, #fff1 1px, #fff0 1px, #fff0 1.5rem),
		repeating-linear-gradient(90deg, #fff1, #fff1 1px, #fff0 1px, #fff0 1.5rem);
	background-color: #222;
	background-size: 1.5rem 1.5rem;
	background-position: var(--background-position, 0px 0px);
}

.nodeEditor canvas,
.nodeEditor .nodeContainer
{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.nodeEditor .nodeContainer
{
	position: relative;
}

.nodeEditor canvas
{
	filter: drop-shadow(0 0 1rem #000);
}

.nodeEditor .node
{
	position: absolute;
	width: 200px;
	box-sizing: border-box;
	padding: 10px;
	background: #444;
	border-radius: 6px;
	box-shadow: 0 0 1rem #0008;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.nodeEditor .node .nodeTitle
{
	margin: -10px -10px 10px;
	background: #333;
	padding: 5px 10px;
	border-radius: 6px 6px 0 0;
	grid-column: 1 / -1;
	cursor: default;
	user-select: none;
}

.nodeEditor .node .nodeInput,
.nodeEditor .node .nodeOutput
{
	position: relative;
	font-size: 11px;
	user-select: none;
	cursor: grab;
}

.nodeEditor.variableDragged,
.nodeEditor.variableDragged *
{
	cursor: grabbing !important;
}

.nodeEditor .node .nodeInput
{
	margin-left: -10px;
	padding-left: 10px;
}

.nodeEditor .node .nodeOutput
{
	text-align: right;
	margin-right: -10px;
	padding-right: 10px;
}

.nodeEditor .node .nodeInput .handle,
.nodeEditor .node .nodeOutput .handle
{
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background: #666;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 100%;
	user-select: none;
	transition: 0.2s filter, 0.2s box-shadow;
}

.nodeEditor.variableDragged .node .nodeInput .handle,
.nodeEditor.variableDragged .node .nodeOutput .handle
{
	filter: brightness(0.5);
}

.nodeEditor.variableDragged .node .nodeInput.connected .handle,
.nodeEditor.variableDragged .node .nodeOutput.connected .handle
{
	filter: brightness(0.5) !important;
	box-shadow: none !important;
}

.nodeEditor.variableDragged .node .nodeInput.dragged .handle,
.nodeEditor.variableDragged .node .nodeOutput.dragged .handle
{
	filter: none;
}

.nodeEditor .node .nodeInput .handle
{
	left: -4px;
}

.nodeEditor .node .nodeOutput .handle
{
	right: -4px;
}

.nodeShelf
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background: #111;
	padding: 10px;
}

.nodeShelf .nodeType
{
	width: 200px;
	box-sizing: border-box;
	background: #444;
	border-radius: 6px;
	box-shadow: 0 0 1rem #0008;
	display: grid;
	grid-template-rows: auto 0fr;
	margin-bottom: 10px;
	transition: grid-template-rows 0.5s;
	overflow: hidden;
}
.nodeEditor .nodeType.expanded
{
	grid-template-rows: auto 1fr;
}

.nodeEditor .nodeType .nodeTitle
{
	background: #333;
	padding: 5px 2.5rem 5px 10px;
	border-radius: 6px 6px 0 0;
	user-select: none;
	position: relative;
}

.nodeEditor .nodeType .nodeTitle .wikiLink
{
	position: absolute;
	right: 0.5rem;
	border: none;
	width: 1.25rem;
	height: 1.25rem;
	text-align: center;
	padding: 0;
	font-size: 0.9rem;
	border-radius: 100%;
	cursor: pointer;
	background: #888;
	color: #000;
	transition: 0.2s background-color;
	
}
.nodeEditor .nodeType .nodeTitle .wikiLink:hover,
.nodeEditor .nodeType .nodeTitle .wikiLink:focus
{
	background: #fff;
}

.nodeEditor .nodeType .nodeDescription
{
	padding: 0 10px;
	box-sizing: border-box;
	overflow: hidden;
	transition: padding 0.5s;
}
.nodeEditor .nodeType.expanded .nodeDescription
{
	padding: 10px;
}

/* Wiki */

.wikiBox
{
	position: fixed;
	background: #1118;
	backdrop-filter: blur(1rem);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	padding: 4rem;
	display: grid;
	grid-template-columns: 16rem auto;
	overflow: hidden;
}
.wikiBox.hidden
{
	display: none;
}

.wikiBox .nodes
{
	background: #333;
	padding: 1rem 0.25rem 1rem 1rem;
	overflow: hidden;
	display: grid;
	grid-template-rows: auto 1fr;
}
.wikiBox .nodesSearchBox
{
	margin-right: 0.75rem;
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #888;
	background: #fff;
	outline: none;
}

.wikiBox .nodes .nodesListBox
{
	overflow: auto;
}
.wikiBox .nodes .nodesListBox .node
{
	padding: 0.5rem;
	background: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	display: block;
	cursor: pointer;
	transition: 0.2s background-color;
	width: calc(100% - 1rem);
	text-align: left;
	position: relative;
}
.wikiBox .nodes .nodesListBox .node::after
{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 100%;
	bottom: 0;
	width: 0;
	background: transparent;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	transition: 0.2s width, background-color 0.2s;
}
.wikiBox .nodes .nodesListBox .node.selected
{
	background: #555;
}
.wikiBox .nodes .nodesListBox .node.selected::after
{
	width: 1rem;
	background: #555;
}

.wikiBox .nodes .nodesListBox .node:hover
{
	background: #555;
}

.wikiBox .article
{
	background: #222;
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;
	overflow: hidden;
}

.wikiBox .article .closeButton
{
	width: 2rem;
	height: 2rem;
	background: #444;
	color: #fff;
	font-weight: 900;
	border: none;
	transition: 0.2s background-color;
	margin-left: 1rem;
	cursor: pointer;
	text-align: center;
}
.wikiBox .article .closeButton:hover,
.wikiBox .article .closeButton:focus
{
	background: #d00;
}

.wikiBox .article .title
{
	font-size: 2rem;
	font-weight: 700;
	border-bottom: 1px solid #fff4;
}

.wikiBox .article .articleContent
{
	overflow: auto;
	max-height: 100%;
	grid-column: 1 / -1;
	padding: 0 1rem 0 0;
	line-height: 1.5;
}

.wikiBox .article .articleContent h2
{
	border-bottom: 1px solid #fff2;
}
.wikiBox .article .articleContent pre
{
	background: #111;
	padding: 0.75rem 1rem;
	overflow: auto;
}

/* File Picker */

.filePicker
{
	position: fixed;
	background: #1118;
	backdrop-filter: blur(1rem);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	padding: 4rem;
	display: grid;
	overflow: hidden;
}
.filePicker.hidden
{
	display: none;
}

.filePicker .filesListBox
{
	background: #222;
	padding: 1rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, 16rem);
}
.filePicker .file
{
	background: #333;
	display: inline-block;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
}
.filePicker .file:focus,
.filePicker .file:hover
{
	background: #fff;
	color: #000;
}
