.settings
{
	display: grid;
	grid-template-rows: auto 1fr;

	.header
	{
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 1rem;
		background: #333;
		padding: 1rem;
		align-items: center;

		.lightMode &
		{
			background: #eee;
		}

		h1
		{
			margin: 0;
		}
	}

	.settingsBox
	{
		background: #222;
		padding: 1rem;
		display: grid;
		gap: 0.5rem;
		justify-content: center;
		align-content: start;

		.lightMode &
		{
			background: #fff;
		}
		
		.settingOption
		{
			display: flex;
			justify-content: space-between;
			gap: 1rem;
			// width: 300px;
		}
	}
}